<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Portifolio JG-{% block title %}{% endblock %}</title>
</head>
<body>
    <center><header>
        <div class="container">
            <h1 class="logo">João Guilherme Web Page</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header></center>
    <div class="container">
        {% block countent %}{% endblock %}
    </div>
</body>
</html>